<!-- These are shownotes which appear in every post/episode you publish -->


<h4>
    Supporta il podcast:
</h4>  
<p>
<form action="https://www.paypal.com/donate" method="post" target="_top">
<input type="hidden" name="business" value="QEX4JRLNQKCBU" />
<input type="hidden" name="no_recurring" value="0" />
<input type="hidden" name="item_name" value="Supporta il mio lavoro, se ti va offrimi un caffè, mi farà piacere" />
<input type="hidden" name="currency_code" value="EUR" />
<input type="image" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Fai una donazione con il pulsante PayPal" />
<img alt="" border="0" src="https://www.paypal.com/it_IT/i/scr/pixel.gif" width="1" height="1" />
</form>

</p>
<br>

<p>

</p>
